<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.reigen.permission.RUNTIME"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:label="Reigen Runtime"
        android:supportsRtl="true">
        <service
            android:name=".RuntimeService"
            android:exported="true"
            android:permission="com.reigen.permission.RUNTIME"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="com.reigen.runtime.BIND" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="reigen-runtime-work" />
        </service>
    </application>
</manifest>
